* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid #004953; 
}

img {
  border-radius: 25px;
  width: 850px;
  height: 275px;
  margin: 10px;
  object-fit: cover;
}