@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  box-sizing: border-box;
  background-color: seagreen;
}

.App {
  text-align: center;
}

/* Header.js */
.nav {
  font-family: "Black Ops One", sans-serif;
  font-size: 40px;
  margin-bottom: -25px;
}

.nav a {
  text-decoration: none;
  color: white;
}

/* Sub.js */
.sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid black; 
}

.sub a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Index.js */
.post {
  opacity:0.5;
  transition: 1s ease;
}

.post:hover {
  opacity:1;
  transition: 1s ease;
}

img {
  border-radius: 25px;
  width: 850px;
  height: 275px;
  margin: 10px;
  object-fit: cover;
}

/* Show.js */
.title, .author {
  font-family: "Poppins", sans-serif;
}

#delete {
  background-color: red;
  color: black;
  margin-left: 10px;
}

.update {
  background-color: yellowgreen;
  color: white;
}

.updateForm input {
  width: 70%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}

.updateForm textarea {
  width: 70%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  resize: none;
  height: 100px;
}

/* Add.js */
.create {
  background-color: yellowgreen;
  color: white;
  font-family: "Poppins", sans-serif;
}

.container-new {
  width: 50vw;
  height: 58vh;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  /* box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd; */
  justify-content: center;
}

.container-new input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}

.container-new textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  resize: none;
  height: 100px;
}

::placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
}

/* About.js */
.about img {
  border-radius: 25px;
  width: 850px;
  height: 275px;
  margin: 10px;
  object-fit: fill;
}

/* Footer */
.footer {
  color: white;
}