@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  box-sizing: border-box;
  background-color: seagreen;
}

.App {
  text-align: center;
}

/* Header.js */
.nav {
  font-family: "Black Ops One", sans-serif;
  font-size: 40px;
  margin-bottom: -25px;
}

.nav a {
  text-decoration: none;
  color: white;
}

/* Sub.js */
.sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid black; 
}

.sub a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.sub a:hover {
  background-color: blue;
}

/* Index.js */
.post {
  opacity:0.5;
  transition: 1s ease;
}

.post:hover {
  opacity:1;
  transition: 1s ease;
}

img {
  border-radius: 25px;
  width: 850px;
  height: 275px;
  margin: 10px;
  object-fit: cover;
}

/* Show.js */
.title, .author {
  font-family: "Poppins", sans-serif;
}

#delete {
  background-color: red;
  color: black;
}

.update {
  background-color: black;
  color: white;
}

/* Add.js */
.create {
  background-color: black;
  color: white;
}
::placeholder {
  color: white;
}

/* About.js */
.about img {
  border-radius: 25px;
  width: 850px;
  height: 275px;
  margin: 10px;
  object-fit: fill;
}

/* Footer */
.footer {
  color: white;
}